 <h3>Timeline</h3>
 <div class="btn-group">
  <button type="button" class="btn btn-default" id="week-button">Week</button>
  <button type="button" class="btn btn-default" id="month-button">Month</button>
  <button type="button" class="btn btn-default">Year</button>
</div>

 <canvas id="summary-chart"></canvas>