 <h3>Timeline</h3>

 <canvas id="summary-chart"></canvas>

 <script>
  window.VeggieOut = {};
  VeggieOut.data   = {};
  VeggieOut.data.summaryData = <%= current_user.summary_data.to_json.html_safe %>
</script>