<div class="container content">
  <div class="hero-unit">
  	<h1 class="text-left">Welcome to <strong class="logo">VeggieOut!</strong></h1>

    <div class="space"></div>

  	<p class="text-right">
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-inverse' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-inverse' %> today!
    </p>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Track your healthy habits</h2>
      <p>We make it easy for you to know how well you are doing. Think <br>of us as your personal checklist.</p>
    </div>
  
    <div class="span6" id="monitor">
      <h2>Monitor your improvments</h2>
      <p>Curious how much you've improved over the week? Month? Our <br> data analytics make it simple to review your progress over time.</p>
    </div>
  </div>
</div>