@import "bootstrap-custom";
@import "bootstrap";

@font-face {
  font-family: "Absurdidad";
  src: url('/assets/images/fonts/Mission Gothic Bold Italic.otf');
}


.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  width: 900px;
  color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

$highlight: #042520;

.navbar-inverse .navbar-inner {
	background-color: $highlight;
	background-image: none;
	background-image: -webkit-gradient(linear, 0 0, 0 75%, from(lighten($highlight, 5)), to($highlight));
}

a {
	color: #89B4B3;
}


body {
  background: image-url("background/vintage_speckles.png");
  font-family: 'Roboto' sans-serif;
}

.logo {
	font-family: 'Luckiest Guy';
	color: #BBFF9D;
	text-shadow: 2px 2px $highlight;
	letter-spacing: 2px;
}

.space {
	height: 250px;
	width: 2000px;
}

.btn-inverse {
	background-color: $highlight;
	background-image: none;
	background-image: -webkit-gradient(linear, 0 0, 0 75%, from(lighten($highlight, 5)), to($highlight));
}


.content {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}

.hero-unit {
	background: image-url("Tomatoes.jpg");
	max-width: 1279px;
	max-height: 1000px;
	color: #EBDADA;
	box-shadow: 0 0 2px 0 #CCC;
	position: aboslute;
}

.btn.btn-primary.btn-large {
	border-style: solid;
	border-width: 2px;
}

#monitor {
	position: relative;
	right: -50px;
}


.progress.percentage {
	position: relative;
}

span.numbar {
	position: absolute;
	left: 5px;
	color: white;
	text-shadow: 1px lightgrey;
}

.first-section{
	padding: 20px;
	text-align: center;
}

.second-section {
	border-left: 1px solid #ddd;
	box-shadow: 2px #CCC;
	padding: 0 20px 0 50px;
}

#summary-chart {
	position: relative;
	right: 12px;
}

.pull-center {
	margin-bottom: 100px;
}

h4 a {
	font-size: 24px;
	text-shadow: 1px 1px 1px #333333;;
}


