@import "bootstrap-custom";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  width: 900px;
  color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

$highlight: #042520;

.navbar-inverse .navbar-inner {
	background-color: $highlight;
	background-image: none;
	background-image: -webkit-gradient(linear, 0 0, 0 75%, from(lighten($highlight, 5)), to($highlight));
}

a {
	color: #89B4B3;
}


body {
  background: image-url("background/vintage_speckles.png");
  font-family: 'Roboto' sans-serif;
}


.content {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}


.progress.percentage {
	position: relative;
}

span.numbar {
	position: absolute;
	left: 5px;
	color: white;
	text-shadow: 1px lightgrey;
}

.first-section{
	padding: 20px;
	text-align: center;
}

.second-section {
	border-left: 1px solid #ddd;
	box-shadow: 2px #CCC;
	padding: 0 20px 0 50px;
}

#summary-chart {
	position: relative;
	right: 12px;
}

.pull-center {
	margin-bottom: 100px;
}